
	*{
		box-sizing: border-box;
		cursor:url(cursor_PNG13.jpeg),auto;
	}
	body, html {
	  height: 100%;
	  margin: 0;
	  /* The image used */
	  background-image: url("bg.jpeg");

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	/* Create two equal columns that floats next to each other */
	.column {
	  float: left;
	  width: 35%;
	  padding: 10px;
	}

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
		/* Create two equal columns that floats next to each other */
	.columnform {
	  float: left;
	  width: 30%;
	  padding: 10px;
	}

	/* Clear floats after the columns */
	.rowform:after {
	  content: "";
	  display: table;
	  clear: both;
	}
